<div class="sidebar">
    <mat-toolbar>
        <span>Mendelson</span>
    </mat-toolbar>
    <mat-nav-list>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>home</mat-icon>
            Home
        </mat-list-item>
        <div mat-subheader>Main</div>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>schedule</mat-icon>
            Recently added
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>mic_external_on</mat-icon>
            Artists
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>album</mat-icon>
            Albums
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>music_note</mat-icon>
            Songs
        </mat-list-item>
        <div mat-subheader>Playlists</div>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>list</mat-icon>
            Playlist 1
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>list</mat-icon>
            Playlist 2
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>list</mat-icon>
            Playlist with a very long name
        </mat-list-item>
        
    </mat-nav-list>
</div>
