@if(playerData$ | async; as playerData) {
<button mat-icon-button aria-label="Shuffle">
    <mat-icon>shuffle</mat-icon>
</button>
<button mat-icon-button aria-label="Previous"
    (click)="previous()">
    <mat-icon>skip_previous</mat-icon>
</button>
@if(!(playing$ | async)) {
<button mat-icon-button aria-label="Play"
    (click)="play()">
    <mat-icon>play_arrow</mat-icon>
</button>
} @else {
<button mat-icon-button aria-label="Pause"
    (click)="pause()">
    <mat-icon>pause</mat-icon>
</button>
}
<button mat-icon-button aria-label="Next"
    (click)="next()">
    <mat-icon>skip_next</mat-icon>
</button>
<button mat-icon-button aria-label="Repeat">
    <mat-icon>repeat</mat-icon>
</button>
<span>{{playerData.nowPlaying?.title}}</span>
}
