<mat-toolbar class="toolbar">
    <div class="toolbar__col">
        <app-player></app-player>
    </div>
    <div class="toolbar__col">
        <div>
            <app-audio></app-audio>
        </div>
        <button mat-icon-button class="favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button
            aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>