<mat-toolbar class="toolbar">
    <div class="toolbar__col">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>shuffle</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>skip_next</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>repeat</mat-icon>
        </button>
        <span>Nothing playing</span>
    </div>
    <div class="toolbar__col">
        <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>