@use '@angular/material' as mat;
@use "sass:map";

html {
    @include mat.theme((
        color: (
            primary: mat.$rose-palette,
            tertiary: mat.$red-palette,
            theme-type: light,
        ),
        typography: Roboto,
        density: 0
    ));

    @include mat.sidenav-overrides((
        container-width: 240px,
        container-divider-color: rgba(map.get(mat.$red-palette, 30), 0.33)
    ));

    @include mat.toolbar-overrides((
        container-background-color: rgba(map.get(mat.$red-palette, 30), 0.33),
    ));
}
// START Component styles
// Sidenav style
// END Component styles

html,
body {
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
    min-height: 100vh;
}

.mat-drawer.mat-drawer-side.mat-drawer-opened {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}